.widget-contact {
  &__title {
    @include shared("margin-bottom");
    @include shared("font-size");
  }

  &__item {
    position: relative;
    padding-left: rem(30);
    @include shared("height");
    @include shared("line-height");
    @include shared("margin-top");
    @include shared("font-size");

    &:first-child {
      margin-top: 0;
    }

    &:before {
      @include box(20);
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background: center center no-repeat;
    }

    &.icon-address:before {
      background-image: url("../images/icon-location.png");
      background-size: 68%;
    }

    &.icon-phone:before {
      background-image: url("../images/icon-phone.png");
    }

    &.icon-email:before {
      background-image: url("../images/icon-envelope.png");
      background-size: 84%;
    }

    a {
      color: map-get($colors, "white");
    }
  }
}