$colors: (
  "black": #000,
  "white": #fff,
  "blue": #1c2648,
  "green": #32a89b,
  "grey": #afb3bf,
  "lightblue": #e2ecf1,
);

$font-weight: (
  "bold": 700,
  "normal": 400
);

$socials: (
  "facebook",
  "twitter",
  "instagram",
  "linkedin",
  "youtube",
);