$colors: (
  "black": #000,
  "white": #fff,
  "maroon": #8c2331,
  "bottle": #1d282e,
  "discount": #be1b2c,
  "tacticBG": #e3ded8,
);

$font-weight: (
  "bold": 700,
  "normal": 400
);

$socials: (
  "facebook",
  "twitter",
  "instagram",
  "linkedin",
  "youtube",
);