$colors: (
  "black": #000,
  "white": #fff,
  "maroon": #8B2131,
  "bottle": #1d282c,
  "discount": #be1b2c,
  "tacticBG": #E4DDD7,
  "tacticText": #52646D,
);

$font-weight: (
  "bold": 700,
  "normal": 400
);

$socials: (
  "facebook",
  "twitter",
  "instagram",
  "linkedin",
  "youtube",
);

$shared: (
  "height": rem(20),
  "line-height": rem(20),
  "margin-bottom": rem(20),
  "margin-top": rem(15),
  "font-size": rem(22)
);