.footer {
  background: map-get($colors, "maroon");

  &__top {
    padding: rem(45) 0;
    position: relative;
    display: flex;
    color: map-get($colors, "white");
  }

  &__bottom {
    background: map-get($colors, "bottle");
    text-align: center;
    height: rem(40);
    line-height: rem(40);
    display: block;
    color: map-get($colors, "white");
  }

  &__item {
    position: relative;
    width: 33.33%;
  }

  &__contact {
    padding-left: rem(94);
  }

  &__network {
    padding-left: rem(64);
  }

  &__logo {
    height: rem(54);
    position: absolute;
    left: rem(139);
    width: rem(228);
    background: no-repeat center center url("../images/logo-small.png");
    @include center("v");
    @include notext();
  }

  &__title {
    @include shared("margin-bottom");
    @include shared("font-size");
  }
}