.footer {
  background: map-get($colors, "maroon");

  &__top {
    padding: rem(45) 0;
    position: relative;
    display: flex;
    color: map-get($colors, "white");
  }

  &__bottom {
    background: map-get($colors, "bottle");
    text-align: center;
    height: rem(40);
    line-height: rem(40);
    display: block;
    color: map-get($colors, "white");
  }

  &__item {
    position: relative;
    width: 33.33%;
  }

  &__contact {
    padding-left: rem(94);
  }

  &__network {
    padding-left: rem(64);
  }

  &__logo {
    position: absolute;
    left: rem(139);
    height: rem(54);
    width: rem(228);
    background: no-repeat center center url("../images/logo-small.png");
    @include notext();
    @include center("v");
  }

  &__title {
    @include shared("margin-bottom");
    @include shared("font-size");
  }
}

@media (max-width: rem(1440)) {
  .footer {
    &__logo {
      left: rem(50);
    }
  }
}

@media (max-width: rem(960)) {
  .footer {
    &__top {
      flex-wrap: wrap;
    }

    &__item {
      width: 50%;
      padding: 0;
    }

    &__logo {
      top: 0;
      @include center('h');
    }

    .item_logo {
      height: rem(54);
      width: 100%;
      margin-bottom: rem(15);
    }
  }
}

@media (max-width: rem(520)) {
  .footer {
    &__top {
      flex-wrap: wrap;
    }

    &__item {
      width: 100%;
    }

    &__contact,
    &__network {
      margin-top: rem(15);
    }
  }
}

/*
@media (max-width: rem(700)) {
  .footer {
    background: map-get($colors, "maroon");

    .item_logo {
      width: 100%;
    }

    &__top {
      padding: rem(45) 0;
      flex-direction: column;
      align-items: center;
    }

    &__contact {
      width: 100%;
      padding-top: rem(30);
      align-items: center;
    }

    &__network {
      width: 100%;
      padding-top: rem(30);
      align-items: center;
    }

    .widget-contact__title {
      text-align: center;
    }

    .widget-contact__item {
      text-align: center;
    }
  }
}

@media (max-width: rem(400)) {
  .footer {
    .item_logo {
      width: rem(272);
    }
  }
}
*/