.header {
  &__logo {
    width: rem(470);
    height: rem(110);
    position: absolute;
    left: 0;
    background: map-get($colors, "maroon");
    @include center("v");
  }

  &__top {
    height: rem(240);
  }
}