.header {
  &__logo {
    display: flex;
    flex-direction: row;
    width: rem(476);
    height: rem(112);
    background: no-repeat center center url("../images/logo-big.png");
    @include notext();
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    height: rem(235);
    justify-content: space-between;
    padding: rem(60) rem(30) rem(30) rem(40);
  }

  &__nav {
    height: rem(65);
    background: map-get($colors, "maroon");
  }
}

@media (max-width: rem(880)) {
  .header {
    &__top {
      padding-top: rem(12);
    }

    &__logo {
      background-size: 95% !important;
      width: rem(336);
      height: rem(96);
    }

    .menu-user {
      display: flex;
      flex-direction: row;
      width: 100%;

      &__item {
        margin-left: rem(12);
      }
    }

    .menu-user__wrapper {
      a {
        font-size: rem(12);
      }
    }

    .menu-user__link {
      padding-top: rem(55);
    }
  }
}

@media (max-width: rem(700)) {
  .header {
    &__nav {
      font-size: rem(12);
    }
  }

  .title-section {
    font-size: rem(28) !important;
  }
}
