.menu {
  &-user {
    &__wrapper {
      position: absolute;
      right: 0;
      @include center("v");
    }

    &__item {
      display: flex;
      height: 100%;
      align-items: center;
      margin-left: 2.8125rem;
      float: left;
      position: relative;

      &:first-child {
        margin: 0;
      }
    }

    &__link {
      display: block;
      text-transform: uppercase;
      position: relative;
      padding-top: rem(70);
      color: map-get($colors, "maroon");

      &:before {
        @include box(45);
        border-radius: 10rem;
        background: map-get($colors, "maroon") center center no-repeat;
        position: absolute;
        content: "";
        top: 0;
        @include center("h");
      }
    }
  }
}