.menu {
  &-user {
    &__wrapper {
      position: absolute;
      right: rem(47);
      top: rem(97);
    }

    &__item {
      display: flex;
      height: 100%;
      align-items: center;
      margin-left: rem(31);
      float: left;
      position: relative;

      &:first-child {
        margin: 0;
      }
    }

    &__link {
      display: block;
      text-transform: uppercase;
      position: relative;
      padding-top: rem(71);
      color: map-get($colors, "bottle");
      font-size: rem(17);

      &:before {
        @include box(45);
        border-radius: 10rem;
        background: map-get($colors, "maroon") center center no-repeat;
        position: absolute;
        content: "";
        top: 0;
        @include center("h");
      }
    }

    .icon {
      &-search .menu-user__link:before {
        background-image: url("../images/icon-search.png");
      }

      &-account .menu-user__link:before {
        background-image: url("../images/icon-user.png");
      }

      &-cart .menu-user__link:before {
        background-image: url("../images/icon-cart.png");
      }
    }
  }

  &-primary {
    height: rem(65);
    width: calc(100% - #{rem(2)});
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    &__link {
      color: map-get($colors, "white");
      text-transform: uppercase;
    }

    //Menu-1
    .menu-level-one {
      text-align: center;
      z-index: 10;

      .sub-menu > li {
        opacity: .8;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }

      .sub-menu {
        display: none;
        padding-top: rem(5);
      }
    }

    .menu-level-one:nth-child(1) {
      background: #8B2131;

      .sub-menu > li {
        background: #8B2131;
      }

      .sub-menu > li:hover {
        opacity: 1;
      }
    }

    .menu-level-one:nth-child(1):hover {
      font-weight: bold;

      .sub-menu {
        display: block;
      }
    }

    .menu-level-one:nth-child(2) {
      background: #8F2B36;

      .sub-menu > li {
        background: #8F2B36;
      }

      .sub-menu > li:hover {
        opacity: 1;
      }
    }

    .menu-level-one:nth-child(2):hover {
      font-weight: bold;

      .sub-menu {
        display: block;
      }
    }

    .menu-level-one:nth-child(3) {
      background: #92313A;

      .sub-menu > li {
        background: #92313A;
      }

      .sub-menu > li:hover {
        opacity: 1;
      }
    }

    .menu-level-one:nth-child(3):hover {
      font-weight: bold;

      .sub-menu {
        display: block;
      }
    }

    .menu-level-one:nth-child(4) {
      background: #9C4248;

      .sub-menu > li {
        background: #9C4248;
      }

      .sub-menu > li:hover {
        opacity: 1;
      }
    }

    .menu-level-one:nth-child(4):hover {
      font-weight: bold;

      .sub-menu {
        display: block;
      }
    }

    .menu-level-one:nth-child(5) {
      background: #9F474C;

      :hover {
        font-weight: bold;
      }
    }

    .menu-level-one:nth-child(6) {
      background: #A65256;

      :hover {
        font-weight: bold;
      }
    }

    .menu-level-one:nth-child(7) {
      background: #A9595C;

      :hover {
        font-weight: bold;
      }
    }

    .menu-level-two {
      font-family: avenir-bold, Arial, sans-serif;
      padding: rem(5) 0;
      border-top: rem(1) dotted #fff !important;

      > .menu-primary__link {
        font-weight: bold;
      }
    }

    .menu-level-three {
      font-family: avenir-regular, Arial, sans-serif;
      font-size: rem(15);
    }

    .no-line-top {
      border-top: 0 !important;
    }

    /* End of diferents options of Menu */

    > .menu-primary {
      &__item {
        height: 100%;
        width: 100%;

        /* stylelint-disable max-nesting-depth */
        > .menu-primary__link {
          display: block;
          height: 100%;
          line-height: rem(65);
        }
      }
    }
  }

  &-social {
    &__item {
      @include shared("height");
      @include shared("line-height");
      @include shared("margin-top");

      &:first-child {
        margin-top: 0;
      }
    }

    &__link {
      display: block;
      position: relative;
      padding-left: rem(30);
      color: map-get($colors, "white");

      &:before {
        @include box(20);
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: center center no-repeat;
      }
    }

    .facebook {
      .menu-social__link:before {
        background-image: url("../images/icon-facebook.png");
      }
    }

    .instagram {
      .menu-social__link:before {
        background-image: url("../images/icon-instagram.png");
      }
    }
  }
}

@media (max-width: rem(1000)) {
  .menu {
    &-user {
      position: absolute;
      @include center("h");
      width: rem(321);

      &__wrapper {
        position: relative;
        margin: rem(20) 0;
        right: 0;
        top: 0;
        height: rem(90);
      }
    }
  }
}

/*
@media (max-width: rem(630)) {
  .menu-user__wrapper {
    width: 100%;
    justify-content: flex-end;

    .menu-user {
      width: rem(220);
    }
  }
}
*/