main .woocommerce {
  padding: 0  rem(20);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content-row {
  flex-direction: row;
}

.woocommerce-loop-product__title {
  text-align: center;
  font-size: rem(16) !important;
  padding-top: rem(5);
  color: #52646D;
  text-transform: uppercase;
  height: 2.4rem;
  line-height: 1em;
  @include clamp(2);
}

.woocommerce-LoopProduct-link {
  display: flex;
  flex-direction: column;

  img {
    align-self: center;
  }
}

.price ins {
  text-decoration: none;
  padding-left: rem(10);
}

.container-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .product {
    width: rem(240);
    height: rem(336);
    padding-left: rem(5);
    padding-right: rem(5);
    padding-bottom: 32%; /* Same as width, sets height */
    margin-bottom: rem(16); /* (100-32*3)/2 */
    position: relative;

    .button {
      color: map-get($colors, "white");
      font-size: rem(18);
      background-color: map-get($colors, "maroon");
      display: flex;
      padding-left: rem(39);
      text-transform: uppercase;
      border-radius: rem(10);
      align-items: center;
    }

    .price {
      color: #8B2131;
      display: flex;
      justify-content: center;
      padding: rem(10);
      font-size: rem(20);
      font-weight: bold;
    }
  }
}

.icon-cart-button {
  width: rem(30);
  height: rem(24);
  background: url("../images/icon-cart.png") no-repeat;
}

.text-button {
  padding-left: rem(8);
  font-weight: bold;
}

.title-section {
  color: map-get($colors, "maroon");
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  padding: rem(20) 0;
  text-align: center;
  font-size: rem(60);
}

.woocommerce-message {
  border-top-color: map-get($colors, "maroon");
}

.single_add_to_cart_button {
  background: map-get($colors, "maroon") !important;
}

.posted_in {
  a {
    color: map-get($colors, "maroon");
    font-weight: bold;
  }
}

.woocommerce-cart-form__contents {
  thead {
    background: map-get($colors, "maroon");
    color: map-get($colors, "white");
  }
}

.wc-proceed-to-checkout {
  a {
    background: map-get($colors, "maroon") !important;
  }
}

@media (min-width: rem(900)) {
  main .woocommerce {
    #customer_details,
    #order_review_heading,
    #order_review {
      width: 48%;
    }

    #customer_details {
      float: left;
    }

    #order_review_heading,
    #order_review {
      float: right;
    }

    #order_review_heading {
      clear: none;
      padding-top: 0;
    }

    .col-1,
    .col-2 {
      width: 100%;
      float: none;
    }
  }
}

.woocommerce-columns--addresses {
  display: flex;
  justify-content: space-between;

  address {
    height: 100%;
  }
}

.discount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(73);
  height: rem(39);
  background: map-get($colors, "tacticDiscount");
  color: map-get($colors, "white");
  font-weight: bold;
  position: absolute;
  right: rem(16);
}

.widget-hotsale__sale {
  color: map-get($colors, "white");
}

.iframe-ubication {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  iframe {
    width: rem(800);
  }

  .expand-ubication {
    width: rem(800);
    display: flex;
    justify-content: left;
    align-items: center;
    margin: rem(30) 0;

    .wp-block-image {
      margin-bottom: 0 !important;
    }

    a {
      color: map-get($colors, "tacticText");
      text-transform: uppercase;
      margin-left: rem(18);
    }
  }

  .footer__top {
    width: rem(800);
    color: map-get($colors, "tacticText");
    flex-direction: row;
    justify-content: space-between;
    padding-left: rem(27);
    padding-right: rem(27);

    .footer__contact {
      padding-left: 0;
      width: rem(270) !important;
    }

    .footer__network {
      padding-left: 0;
      font-size: rem(20);
      width: rem(190);
    }
  }

  .widget-contact__item.icon-address:before {
    background-image: url("../images/icon-gps-brown.png") !important;
    background-size: 92% !important;
  }

  .widget-contact__item.icon-phone:before {
    background-image: url("../images/icon-phone-brown.png") !important;
    background-size: 96% !important;
  }

  .widget-contact__item.icon-email:before {
    background-image: url("../images/icon-mail-brown.png") !important;
    background-size: 94% !important;
  }

  .widget-contact__item a {
    color: map-get($colors, "tacticText") !important;
  }

  .menu-social__link {
    color: map-get($colors, "tacticText") !important;
  }

  .facebook .menu-social__link:before {
    background-image: url("../images/icon-face-brown.png") !important;
    background-size: 48% !important;
    background-color: map-get($colors, "maroon");
    border-radius: rem(4);
  }

  .instagram .menu-social__link:before {
    background-image: url("../images/icon-insta-brown.png") !important;
    background-size: 94% !important;
  }
}

.wpcf7-not-valid-tip {
  padding-top: rem(10) !important;
  font-weight: bold !important;
}

.wpcf7-validation-errors {
  font-weight: bold !important;
  border: 0 !important;
  color: #f00 !important;
}

.wpcf7-submit {
  background-image: url("../images/icon-flecha.png") !important;
}

.wpcf7-form-control {
  background-color: #D8D8D8;
}

/**
 * Account section
 */
.woocommerce-account {
  .woocommerce-MyAccount-navigation {
    float: right;
    width: 23%;

    li {
      list-style: none;
      padding: .5em 0;
      border-bottom: rem(1) solid #ddd;

      a {
        box-shadow: none;
        color: rgb(34, 34, 34);

        &:hover {
          font-weight: bold;
        }
      }

      &:before {
        content: "→";
        display: inline-block;
        margin-right: .25em;
        color: #ddd;
      }
    }

    .is-active {
      a {
        font-weight: bold;
      }
    }
  }

  .woocommerce-MyAccount-content {
    float: left;
  }
}

input[type = "text"],
.input-text {
  color: #666;
  border: rem(1) solid #bbb;
  border-radius: rem(3);
  display: block;
  padding: .7em;
  width: 100%;
}

.woocommerce-MyAccount-content {
  padding: 0 rem(20);
}

.woocommerce-account .addresses .title .edit {
  color: map-get($colors, "maroon");
  font-weight: bold;
}

.woocommerce-MyAccount-content a {
  color: map-get($colors, "maroon");
  font-weight: bold;
}

.woocommerce-LostPassword a {
  color: map-get($colors, "maroon");
  font-weight: bold;
}

.widget-hotsale__container {
  .container-products {
    margin: auto;
  }

  .woocommerce-loop-product__link img {
    z-index: -2;
  }

  .woocommerce-loop-product__title {
    justify-content: left;
    color: #271818;
    padding-left: rem(10);
    font-weight: bold;
    text-transform: none;
  }

  .button {
    height: rem(50);
    margin-top: -rem(40) !important;
    z-index: 1 !important;
    width: rem(250);
  }

  .price {
    justify-content: left !important;
    align-items: flex-end;
  }

  .price del {
    color: #271818;
    font-size: rem(15);
  }
}